
*{
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: url(src/assets/cloud-blue-sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}